<article class="card h-100">
    <img src="${cardData.download_url}" class="card-img-top h-100" alt="...">
    <div class="card-body">
        <h5 class="card-title mb-1 fs-4">Card title</h5>
        <p class="card-text mb-2 textHidden">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero quibusdam
            fuga numquam ea quam repellendus placeat, consequatur nemo dolore. Deserunt nam illo vero ducimus eos
            laudantium laborum. Blanditiis, dolorum natus!</p>
        <button type="button" class="btn showMore__btn textHidden p-0">Show more...</button>
    </div>
    <div class="card__actions p-3">
        <button type="button" class="btn btn-primary me-3">Save to collection</button>
        <button type="button" class="btn btn-outline-secondary">Share</button>
    </div>
</article>